<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239302542606-qupdr59gi7lijkim3j7vbp0tfts36fm8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239302542606-qupdr59gi7lijkim3j7vbp0tfts36fm8</string>
	<key>API_KEY</key>
	<string>AIzaSyBs80yxSp2dACD3T6CEtm2gbqNDlbZT0Cs</string>
	<key>GCM_SENDER_ID</key>
	<string>239302542606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.otminventory</string>
	<key>PROJECT_ID</key>
	<string>owl-management-systems</string>
	<key>STORAGE_BUCKET</key>
	<string>owl-management-systems.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239302542606:ios:d524c1ed361f9ce821035f</string>
	<key>DATABASE_URL</key>
	<string>https://owl-management-systems.firebaseio.com</string>
</dict>
</plist>